/* BloodLoading.css */
.loading-overlay {
  backdrop-filter: blur(6px); /* Efek blur pada overlay */
}

.content.blurred {
  filter: blur(5px); /* Efek blur pada konten ketika loading */
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.skeleton {
  background-color: #e3e3e3;
  border-radius: 8px;
}

.skeleton-title {
  width: 60%;
  height: 20px;
}

.skeleton-text {
  width: 80%;
  height: 16px;
}
